<div class="contentcontainer">
   <div class="headings altheading">
       <h2>Sales Claims</h2>
   </div>
   <div class="contentbox">

<ol>
	<li>If the product you are looking for is not on the list, please email support@example.com</li>
	<li>Claims will be approved by the 25th of the month following the claim period and points will then be available for you to spend.</li>
	</li>Claims must be made within 5 days of the end of the month in which the sale was made, so make sure you log your sales in plenty of time for them to be verified.</li>
</ol>
	<br />
	<br />
	<h3>Enter new sales claim here:</h3>
	<table>
		<thead>
			<tr>
				<th>Product Category</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>P/O Number</th>
				<th>Sale Value</th>
				<th>Date of Sale</th>
				<th></th>
			</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<select>
						<option>Router</option>
						<option>Switch</option>
						<option>Wireless</option>
					</select>
				</td>
				<td>
					<select>
						<option>Cisco 3900</option>
						<option>Cisco 2900</option>
						<option>Cisco 1900</option>
					</select>
				</td>
				<td>
					<input type="text" size="7">
				</td>
				<td>
					<input type="text" size="12">
				</td>
				<td>
					<input type="text" size="12">
				</td>
				<td>
					<input type="text" size="12">
				</td>
				<td>
					<button type="button">Add</button>
				</td>	
			</tr>
		</tbody>
		</table>
		<br />
		<br />
		<h3>Your previously logged sales claims:</h3>
		<table>
			<thead>
				<tr>
					<th>Date Logged</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>P/O Number</th>
					<th>Sale Value</th>
					<th>Date of Sale</th>
					<th>Points</th>
					<th>Status</th>
					<th></th>
					<th></th>
					<th></th>
				</th>
			</thead>
		
