<!--[if lt IE 7]>
 <link rel="stylesheet" href="css/style_ie6.css" type="text/css" media="screen, projection"/>
<script src="js/DD_belatedPNG_0.0.7a-min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    DD_belatedPNG.fix('.ui-tabs, .ui-tabs-nav, .ui-tabs-nav li,.ui-tabs-nav li a,#slide-wrapper .inner, .button, .testimonial, .testimonial .inner, .feature-list img, #content-zone .outer, #content-zone .inner, .comments p, .comments a, .search button');
    
});
</script>
<![endif]-->

<!-- *************** content *************** -->
<div id="page">
  <div class="wrapper">
    <div class="container">
      <div id="content-zone" class="span-18">
        <h2>About us</h2>
        <div class="outer">
          <div class="inner">
            <div class="span-4 comments clearfix">
              <p><a href="#comments" title="12 Comments">Testimonials</a></p>
            </div>
            <div class="span-14 last blog">
              <div class="sub content">
                
                  <p><strong>Sales-Promotions.com provides full service solutions that ensure your promotions and fulfilment programs meet your key business objectives and maintain your core brand identity.</em></p>
                 
                  <p>Sales-Promotions.com is a recognised world leader in the Promotional Management and Fulfilment Industry. We currently serve a range of clients from leading multinational corporations through to single country retailers/e-tailers.</p>
                  
                  <p>Our 24 hour multilingual call centres provide unparalleled customer support, while our state-of-the-art promotional micro-sites give our clients and their customers’ access to online updates and live chat facilities. We enable our clients to execute and evaluate their promotions with the most powerful real-time reporting and analysis tools available anywhere.</p>
                  
				  <p>Sales-Promotions.com is the trading name for Universal Sales Promotions Ltd, a member company of The Taxback Group.</p>
                  <blockquote>
                    <p>"To follow, without halt, one aim: There's the secret of success."</p>
                  </blockquote>
                  
</code></pre>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </div>
</div>

	