<div id="page">
  <div class="wrapper">
    <div class="container">
<div id="content-zone" class="prepend-3 span-18 append-3 last">
<h2>Take the tour</h2>
<div class="outer"><div class="inner"><div class="sub acenter">

<div class="video"><embed src="http://www.sales-promotions.com/templates/www/swf/mh_video.swf"  type="application/x-shockwave-flash" width="600" height="470" allowscriptaccess="always" allowfullscreen="true"></embed></div>

<hr/>
<div class="clearfix"><a class="button fright" href="signup.html" title="Sign Up">Sign up</a>
<p class="aleft"><a href="http://www.sales-promotions.com/apply-for-promotion/">Apply for a promotion</a> </p></div>
</div></div></div>
</div>
      
    </div>
  </div>
</div>