<div class="contentcontainer">
        <div class="headings alt">
            <h2>Sales by Product</h2>
        </div>
        <div class="contentbox">
        	<table>
            	<tr>
                	<td width="150"><strong><span class="usagetxt redtxt">Product_1</span> usage bar:</strong></td>
                    <td width="500">
                    	<div class="usagebox">
            				<div class="highbar" style="width: 85%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                	<td><strong><span class="usagetxt orangetxt">Product_2</span> usage bar:</strong></td>
                    <td>
                    	<div class="usagebox">
            				<div class="midbar" style="width: 50%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                	<td><strong><span class="usagetxt greentxt">Product_3</span> usage bar:</strong></td>
                    <td>
                    	<div class="usagebox">
            				<div class="lowbar" style="width: 25%;"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
