<div id="header">
	<%= image_tag("cp/cisco_logo_small.png") %>
	<div id="searcharea">
        <p class="left smltxt"><a href="#" title=""></a></p>
        <input type="text" class="searchbox" value="Search control panel..." onclick="if (this.value =='Search...'){this.value=''}"/>
        <input type="submit" value="Search" class="searchbtn" />
    </div>
</div>