<div id="breadcrumb">
   	<ul>	
       	<li><%= image_tag("cp/icons/icon_breadcrumb.png") %></li>
       	<li><strong>Location:</strong></li>
           <li><a href="#" title="">Sub Section</a></li>
           <li>/</li>
           <li class="current">Control Panel</li>
       </ul>
   </div>