
<h2>Account Balance</h2>
<br />
<!-- Blue Status Bar Start -->
   <div class="status info">
   	<p class="closestatus"><a href="" title="Close">x</a></p>
   	<p><%= image_tag("cp/icons/icon_info.png") %><span>Information:</span> Your current account balance is 257 points.</p>
   </div>
   <!-- Blue Status Bar End -->

<hr>

<h2>Targets</h2>
<br />

 <!-- Red Status Bar Start -->
   <div class="status success">
   	<p class="closestatus"><a href="" title="Close">x</a></p>
   	<p><%= image_tag("cp/icons/icon_success.png") %><span>Congratulations!</span> Your 2nd quarter sales target has been reached and updated by your manager.</p>
   </div>
    <!-- Red Status Bar End -->

<hr>

<h2>E-Learning</h2>
<br />
<!-- Green Status Bar Start -->
   <div class="status error">
   	<p class="closestatus"><a href="" title="Close">x</a></p>
   	<p><%= image_tag("cp/icons/icon_error.png") %><span>Warning!</span> You have not yet completed the latest Cisco product training for your territory. Please do so as soon possible.</p>
   </div>
<hr>

<h2>Latest News</h2>
<br />
<!-- Status Bar Start -->
 <div class="status warning">
   	<p class="closestatus"><a href="" title="Close">x</a></p>
   	<p><%= image_tag("cp/icons/icon_warning.png") %><span>Attention!</span> A new marketing campaign has been launched for your territory.</p>
   </div> 
   <!-- Status Bar End -->
